<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="./public/css/dashboard.css" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<div class="row jumbotron vertical-center-row">
  <h1 style="font-size:40px;" align="center">Dashboard</h1>
  <p class="lead" align="center"><i class="fa fa-list"></i>  Welcome {{ user.name }}
    <br>
    {% if user.role == '0' %}
      <p class="lead" align="center"><i class="fa fa-list"></i> You have admin access
    {% else %}
      <p class="lead" align="center"><i class="fa fa-list"></i> You have user access
    {% endif %}
  <div class="row">

    {% if user.role == '0' %}

      <div class="col-md-2 " style="background-color:lavender;"></div>
      <div class="col-md-4">
        <div class="panel panel-default panel-cust" style="width:100%;">
          <div class="panel-body panel-updated">
            <h4 class="desc">Fraud Detected</h4>
            {% for transaction in user.transactions %}
              <h6 class="desc">Role : {{ transaction.role }}</h6>
              <h6 class="desc">User : {{ transaction.user }}</h6>
              <h6 class="desc">Query : {{ transaction.query }}</h6>
              <h6 class="desc">Timestamp : {{ transaction.timestamp }}</h6>
              <h6 class="desc">Status : {{ transaction.status }}</h6>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-default panel-cust" style="width:100%;">
          <div class="panel-body panel-updated">
            <h4 class="desc">High priority users:</h4>
            {% for person in user.hvi %}
              <h5 class="desc">ID : {{ person.uid }}</h5>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  {% endif %}

    <form action="/checker" method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <input id="Query" name="query" placeholder="Query" class="form-control" type="text">
            </div>
            <div class="form-group col-md-6">

                <select id="role" class="form-control" name="role">
                    <option selected>Select Role</option>
                    <option value='0'> Admin</option>
                    <option value='1'> Employee</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <button type="submit" class="btn btn-danger">Submit</button>
        </div>
    </form>


  <div class="row">
    <div class="text-center" , style="margin-top :2%">
      <form action="/logout" method="get">
        <button id="singlebutton" name="singlebutton" type="submit" class="btn btn-primary">Logout</button>
      </form>
    </div>
  </div>
</div>