<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Signup </h1>
    <div>
      <form action="/signup" method="post">
        <div>

          <div>
            <label>
              Name:
            </label>
            <input type="text" name="name" required>
          </div>

          <div>
            <label>
              Employee ID:
            </label>
            <input type="text" name="e_id" required>
          </div>

          <div>
            <label>
              Role (admin/user):
            </label>
            <input type="text" name="role" required>
          </div>

        </div>
        <button>Signup</button>
      </form>
    </div>
  </body>
</html>