
.panel {
 -webkit-animation: .5s ease;
-moz-animation: .5s ease;
-o-animation: .5s ease;
margin-bottom:10px;

}

.panel:hover {
  -webkit-transform: scale(1.05);
  -moz-transform:scale(1.05);
  -ms-transform:scale(1.05);
  -o-transform:scale(1.05);
  transform:scale(1.05);
}


.desc{
  border: 0px;
  text-align: center;
  padding-top:10px;
}

.panel-updated {
  margin-left:-15px;
  margin-right:-15px;
  margin-bottom:-15px;
  height: 250px;
  padding-left:15px;
  padding-right:15px;
  padding-top:0px;
}

.panel-oracle {
  margin-left:-15px;
  margin-right:-15px;
  margin-bottom:-4px;
}

.panel-cust {
  border: 2px solid #a8a8a8;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  width:95%;
}

.panel-commingsoon:hover    {
  background:rgba(0,0,0,.75);
              }

.panel-commingsoon{
  height:180px;
}
